* {
    box-sizing: border-box;
  }
  .row{
      width: 100%;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    
  }
  ul {
    list-style-type: none;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  mat-form-field {
    
    font-size: 15px;
}
a {
   
    font-size: 15px;
}
button{
  font-size: 15px;
}
