<div class="sidenav">
  <div class="sidebar-header">
            <h3 style="margin-bottom: 40px">CSDR</h3>
        </div>
    <a routerLink='/mapping' routerLinkActive="active-link">Mapping</a>
    <a routerLink='/participent' routerLinkActive="active-link">Participent</a>
    <a routerLink='/isin' routerLinkActive="active-link">ISIN</a>
    <a routerLink='/query' routerLinkActive="active-link">Query</a>
    <a routerLink='/history' routerLinkActive="active-link">History/Audit</a>
  </div>
  
  <div class="main">
   <router-outlet></router-outlet>
    </div>